body {
    background-color: rgb(255, 202, 210);
}

header{
    color: white;
    text-align: center;
    
}

section {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 15px;
    border-radius: 2%;
    text-align: center;
}

div {
    padding: 20px;
}

img {
    padding: 20px;
    border-radius: 50%;
    width: 300px;
    height: 290px;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
}